src/main/webapp/wsdl/CorreioBrendhonMoreira.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pos.inatel.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pos.inatel.br" xmlns:intf="http://pos.inatel.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pos.inatel.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculaEndereco">
    <complexType>
     <sequence>
      <element name="cep" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculaEnderecoResponse">
    <complexType>
     <sequence>
      <element name="calculaEnderecoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculaEnderecoRequest">

      <wsdl:part element="impl:calculaEndereco" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculaEnderecoResponse">

      <wsdl:part element="impl:calculaEnderecoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CorreioBrendhonMoreira">

      <wsdl:operation name="calculaEndereco">

         <wsdl:input message="impl:calculaEnderecoRequest" name="calculaEnderecoRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculaEnderecoResponse" name="calculaEnderecoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CorreioBrendhonMoreiraSoapBinding" type="impl:CorreioBrendhonMoreira">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculaEndereco">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculaEnderecoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculaEnderecoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CorreioBrendhonMoreiraService">

      <wsdl:port binding="impl:CorreioBrendhonMoreiraSoapBinding" name="CorreioBrendhonMoreira">

         <wsdlsoap:address location="http://localhost:8080/DM105_SOAP/services/CorreioBrendhonMoreira"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
